/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
}

h1 {
    color: white;
    text-align: center;
    font-size: 70px;
    padding: 50px 0;
}

.numbers-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #1489b2 ;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box.fizz {
    background-color: #13d6a0;
}

.box.buzz {
    background-color: #fed166;
}

.box.fizzbuzz {
    background-color: #f1466f;
}